.catalog {
  display: flex;
  padding-top: 31px;
  margin-bottom: 31px;
}

.catalog__title {
  margin: 0;
  padding-bottom: 36px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $second-font;
  color: $color-title;
  font-style: normal;
  background-color: $main-color;
}

.catalog__subtitle {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $second-font;
  color: $color-title;
  font-style: normal;
  text-align: center;
}

.catalog__subtext {
  margin: 0;
  padding-bottom: 22px;
  font-size: 12px;
  line-height: 16px;
  font-family: $base-font;
  color: $color-title;
}

.catalog__show-all-button {
  color: $color-text;
  background-color: $bg-color;
  padding-top: 13px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: $btn-gray-hvr;
  }

  &:active,
  &:focus {
    background-color: $btn-gray-hvr;
    color: $copyrigh-link-activ;
  }
}

.catalog__food-all {
  padding-top: 27px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 74px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
