.copyright {
  padding-top: 15px;
  width: 100%;
  padding-bottom: 15px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: #666666;

  &:hover,
  :focus {
    fill: $decorate-color;
  }

  &:active {
    fill: $decorate-color;
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  font-family: $base-font;
  color: $color-text;

  &:active,
  &:focus {
    color: $copyrigh-link-activ;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: auto;
    padding: 0;
  }

  .copyright__text {
    margin-top: 13px;
    padding-right: 23px;
  }

  .copyright__link svg {
    padding-bottom: 2px;
  }
}
