.copyright {
  padding-top: 15px;
  width: 100%;
}

.copyright__link {
  display: flex;
  justify-content: space-between;

  img {
    width: 28px;
    height: auto;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  font-family: $base-font;
  color: $color-text;

  &:active,
  &:focus {
    color: $copyrigh-link-activ;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: auto;
    padding: 0;
  }
}
