.example {
  display: flex;
  background-color: $bg-color;
  padding-top: 29px;
  padding-bottom: 36px;
}

.example__title {
  margin: 0;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $second-font;
  color: $color-title;
}

.example__text {
  margin: 0;
  padding-bottom: 25px;
  width: 95%;
}

.example__list {
  @include reset-list-style;
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
  text-align: center;
}

.example__item {
  position: relative;
  display: block;
  width: 122px;
  padding-top: 13px;
  padding-bottom: 17px;
  border: 1px solid $border-dark;
  border-radius: 3px;
}

.example__value {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $second-font;
  color: $color-title;
  text-transform: uppercase;
}

.example__subtitle {
  position: absolute;
  width: 82px;
  bottom: -16px;
  left: 19px;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-family: $base-font;
  color: $color-text;
  background-color: $btn-gray;
}

.example__price {
  margin: 0;
  padding-bottom: 35px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  font-family: $second-font;
  color: $color-title;
  text-transform: uppercase;
}

.example__image {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;

  &--before {
    background-image: url("../img/before-mobile@1x.png");
  }

  &--after {
    background-image: url("../img/after-mobile@1x.png");
    display: none;
  }
}

.example__comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 218px;
}

.example__toggle {
  width: 60px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-family: $second-font;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.exemple__range {
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  padding: 3px 5px;
  border: 1px solid $border-dark;
  border-radius: 10px;
  background-color: $main-color;
}

.exemple__range-input {
  display: none;
}

.exemple__range-toggle {
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background-color: $decorate-color;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid $border-light;
    background: linear-gradient(to top, $btn-gray 462px, $main-color 462px);
  }

  .example__wrapper {
    margin-bottom: 77px;
  }

  .example__title {
    padding-top: 15px;
    padding-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    width: 97%;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 53px;
  }

  .example__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__item {
    margin-right: 42px;
    width: 160px;
    padding-top: 15px;
    padding-bottom: 18px;
  }

  .example__price {
    width: 192px;
    padding-top: 3px;
    text-align: right;
    font-size: 20px;
    line-height: 29px;
  }

  .example__subtitle {
    position: absolute;
    white-space: nowrap;
    font-size: 14px;
    line-height: 14px;
    bottom: -7px;
    background-color: $main-color;

    &--weight {
      width: 114px;
      left: 23px;
    }

    &--time {
      width: 140px;
      left: 9px;
    }
  }

  .example__comparison {
    width: 690px;
    height: 570px;
    position: relative;
    margin: 0 auto;
  }

  .example__image {
    background-repeat: no-repeat;
    position: relative;

    &--before {
      width: 676px;
      height: 499px;
      background-image: url("../img/before-desktop@1x.png");
      margin-top: -16px;
      left: 1%;
    }

    &--after {
      width: 596px;
      height: 517px;
      background-image: url("../img/after-desktop@1x.png");
      margin-top: -25px;
      left: 1%;
    }
  }

  .example__toggles {
    position: relative;
    padding-top: 28px;
    width: 587px;
  }

  .example__toggle {
    position: relative;
    font-size: 20px;
    width: 66px;
    outline: none;

    &::after {
      content: "";
      position: absolute;
      left: 13%;
      bottom: -5px;
      border-bottom: 1px dotted #111111;
      width: 75%;
      height: 1px;
      opacity: 0.23;
    }

    &:hover::after,
    &:focus::after {
      border-bottom: 1px solid #111111;
    }

    &:active::after {
      border: none;
    }
  }

  .exemple__range {
    box-sizing: border-box;
    width: 428px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
  }

  .exemple__range-input {
    display: none;
  }

  .exemple__range-toggle {
    position: absolute;
    top: 22px;
    left: 75px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $main-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px $border-dark;
    box-sizing: border-box;
    outline: none;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 12px;
      left: 12px;
      border-radius: 50%;
      background-color: $decorate-color;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px $decorate-color;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    border: none;
    padding-bottom: 27px;
  }

  .example__container {
    display: flex;
  }

  .example__wrapper {
    margin: 0;
    margin-right: 167px;
  }

  .example__title {
    border: none;
    padding: 0;
    margin-bottom: 146px;
  }

  .example__text {
    width: 431px;
    padding-bottom: 68px;
  }

  .example__result {
    flex-direction: column;
    width: 400px;
  }

  .example__subtitle {
    background-color: $btn-gray;
  }

  .example__list {
    margin-left: 8px;
  }

  .example__comparison {
    width: 590px;
    margin-left: auto;
    margin-top: 0;
  }

  .example__price {
    width: 100%;
    display: flex;
    padding-top: 23px;
  }

  .example__price-text {
    margin-right: 64px;
  }

  .example__image {
    background-repeat: no-repeat;
    position: relative;

    &--before {
      margin-top: -46px;
    }

    &--after {
      margin-top: -55px;
    }
  }

  .example__toggles {
    padding-top: 49px;
    padding-left: 49px;
  }

  .exemple__range-toggle {
    top: 43px;
    left: 126px;
  }
}
