.fields__block {
  margin: 0;
  padding: 0;
  border: none;

  &--personal,
  &--contacts-block {
    margin: 0;
    padding: 0;

    .fields__item {
      display: flex;
      align-items: center;
    }

    .fields__input {
      width: 100%;
    }

    .fields__label {
      flex-shrink: 0;
      margin-right: 15px;
    }
  }

  &--personal {
    margin-bottom: 25px;
  }

  &--programs-block {
    margin-bottom: 25px;
  }

  &--contacts-block {
    margin-bottom: 25px;
  }

  &--comments-block {
    .fields__textarea {
      padding: 0;
      width: 100%;
    }
  }
}

.fields__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $second-font;
  color: $color-title;
  font-style: normal;
}

.fields__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $second-font;
  color: $color-lable;
  font-style: normal;
  text-transform: uppercase;
}

.fields__input,
.fields__textarea {
  font-weight: 400;
  font-size: 16px;
  font-family: $second-font;
  color: $color-text;
  text-transform: uppercase;
  border: solid 1px #cdcdcd;
}

.fields__program-list {
  @include reset-list-style;
}

.fields__input {
  padding-top: 15px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border: solid 1px #cdcdcd;
}

@media (min-width: $tablet-width) {
  .fields {
    padding-left: 40px;
    padding-right: 35px;
  }

  .fields__block {
    &--additional-block {
      .fields__additional-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .fields__additional-item {
        width: 50%;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .fields__block {
    &--contacts-block {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    &--personal {
      width: 40%;
    }

    &--programs-block {
      width: 40%;
    }

    .fields__additional-item {
      width: auto;
    }
  }

  .fields__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fields__inner {
    display: flex;
    justify-content: space-between;
  }
}
