.fields__block {
  border: none;
}

.fields__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $second-font;
  color: $color-title;
  font-style: normal;
}

.fields__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $second-font;
  color: $color-lable;
  font-style: normal;
  text-transform: uppercase;
}

.fields__input,
.fields__textarea {
  font-weight: 400;
  font-size: 16px;
  font-family: $second-font;
  color: $color-text;
  text-transform: uppercase;
}

.fields__program-list {
  @include reset-list-style;
}
