.head-block {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 22px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 100% 305px;
  background-repeat: no-repeat;
  background-position: center top;
  align-items: center;
  color: $main-color;
  text-align: center;
  border-top: 1px solid $border-lighten;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.head-block__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  font-family: $second-font;
}

.head-block__text {
  margin: 0;
  margin-bottom: 27px;
  line-height: 14px;
  font-family: $second-font;
  text-transform: uppercase;
}

.head-block__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.head-block__button {
  width: 100%;
  color: $main-color;
  background-color: $decorate-color;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 18px;

  &:hover {
    background-color: $btn-green-hvr;
  }

  &:active,
  &:focus {
    background-color: $btn-green-hvr;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .head-block {
    position: relative;
    padding-top: 56px;
    padding-bottom: 529px;
    background: none;
    color: $color-title;
    text-align: left;
    border: none;
  }

  .head-block__wrapper {
    padding-left: 87px;
  }

  .head-block__title {
    margin-bottom: 41px;
    padding: 0;
    width: 415px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .head-block__text {
    padding-left: 1px;
    padding-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
  }

  .head-block__image {
    width: 709px;
    height: 609px;
    position: absolute;
    z-index: -1;
    right: 3.9%;
    top: 259px;
  }

  .head-block__button {
    margin-left: 2px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .head-block {
    padding-top: 107px;
    padding-bottom: 268px;

    .head-block__wrapper {
      position: relative;
    }

    .head-block__image {
      position: absolute;
      margin: 0;
      width: 552px;
      height: 499px;
      z-index: 1;
      left: 36.9%;
      top: -80px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -115px;
      left: 50%;
      width: 50%;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 100% 696px;
      background-repeat: no-repeat;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  .head-block__wrapper {
    padding-left: 80px;
  }

  .head-block__title {
    margin-bottom: 42px;
  }

  .head-block__button {
    margin: 0;
  }

  .head-block__text {
    padding-left: 1px;
    padding-bottom: 25px;
  }

  .head-block__image {
    position: absolute;
    z-index: -1;
    left: 40%;
    top: 45%;
  }
}
