.instruction {
  display: flex;
  padding-bottom: 22px;
}

.instruction__title {
  margin: 0;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $second-font;
  color: $color-title;
}

.instruction__list {
  @include reset-list-style;
}

.instruction__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: $decorate-color;
    background-size: 50px;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .instruction__item {
    &--leaf::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--powder::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--dining::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--clock::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .instruction {
    padding-bottom: 52px;
  }

  .instruction__title {
    padding-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  .instruction__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 74px;
  }

  .instruction__item {
    display: flex;
    margin: 0;
    padding-bottom: 50px;
    flex-wrap: wrap;
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;

    &--leaf,
    &--powder {
      margin-bottom: 83px;
    }

    &::before {
      content: "";
      display: block;
      margin: 0;
      margin-bottom: 32px;
      width: 80px;
      height: 80px;
      background-color: $decorate-color;
      background-size: 50px;
    }

    &::after {
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 281px;
      color: $bg-color;
      z-index: -1;
    }

    &--leaf::after {
      content: "1";
      top: 89px;
      left: 118px;
    }

    &--powder::after {
      content: "2";
      top: 89px;
      left: 111px;
    }

    &--dining::after {
      top: 90px;
      left: 113px;
      content: "3";
    }

    &--clock::after {
      content: "4";
      top: 88px;
      left: 113px;
    }
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    padding-bottom: 97px;
  }

  .instruction__list {
    padding: 0;
  }

  .instruction__item {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }
}
