@media (max-width: $mobile-width-only) {
  .main-nav {
    display: none;

    &--opened {
      display: block;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 62.2%;
  }
}
