.page-footer {
  background-color: $bg-color;
}

.page-footer__top {
  background-color: white;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
}

.page-footer__contacts-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $second-font;
  color: $color-title;
  text-transform: uppercase;
}

.page-footer__contacts-address {
  line-height: 20px;
  font-family: $base-font;
  color: $color-text;
  font-style: normal;
}

.page-footer__map-img {
  height: 400px;
  width: 100%;
}

.copyright a {
  display: flex;
}

@media (min-width: $tablet-width) {
  .page-footer__contacts-title {
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__contacts-address {
    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
}
