.page-footer {
  background-color: $bg-color;
}

.page-footer__top {
  display: flex;
  padding-top: 28px;
  padding-bottom: 27px;
  background-color: white;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
}

.page-footer__contacts-title {
  margin: 0;
  width: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $second-font;
  color: $color-title;
  text-transform: uppercase;
}

.page-footer__contacts-address {
  width: 50%;
  line-height: 20px;
  font-family: $base-font;
  color: $color-text;
  font-style: normal;
}

.page-footer__map {
  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-footer__bottom {
  display: flex;
  align-items: center;
  padding-top: 39px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__contacts-title {
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__contacts-address {
    font-size: 16px;
    text-align: right;
  }

  .page-footer__top {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
