.page-footer {
  background-color: $bg-color;
}

.page-footer__top {
  display: flex;
  padding-top: 28px;
  padding-bottom: 27px;
  background-color: $main-color;

  &--grey {
    background-color: $bg-color;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  background-color: $main-color;

  &--grey {
    background-color: $bg-color;
  }
}

.page-footer__contacts-title {
  margin: 0;
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $second-font;
  color: $color-title;
  text-transform: uppercase;
}

.page-footer__contacts-address {
  width: 140px;
  line-height: 20px;
  font-family: $base-font;
  color: $color-text;
  font-style: normal;
}

.page-footer__map {
  width: 100%;
  height: 362px;
  background-image: url("../img/map-pin.png"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 158px, center;
  background-size: 62px 53px, 100%;
}

.page-footer__bottom {
  display: flex;
  align-items: center;
  padding-top: 39px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }

  .page-footer__contacts {
    padding-top: 66px;
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 58px;
  }

  .page-footer__contacts-title {
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__contacts-address {
    width: 163px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: -3px;
  }

  .page-footer__contacts-street {
    display: inline-block;
    margin-bottom: 20px;
    max-width: 163px;
    vertical-align: top;
  }

  .page-footer__top {
    padding: 0;
  }

  .page-footer__map {
    height: 400px;
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-tablet@1x.png");
    background-position: center 225px, center;
  }

  .page-footer__bottom {
    padding-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__contacts {
    position: absolute;
    width: 570px;
    height: 201px;
    top: 95px;
    padding: 0;
    padding-top: 66px;
    padding-left: 76px;
    padding-right: 81px;
    box-sizing: border-box;
    background-color: $main-color;
  }

  .page-footer__contacts-address {
    text-align: left;
  }

  .page-footer__map {
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-desktop@1x.png");
    background-size: 113px 106px, 100%;
    background-position: 75.5% 155px, center;
  }

  .page-footer__bottom {
    padding-top: 53px;
  }
}
