.product {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-lighten;
}

.product__description {
  padding-top: 21px;
  display: block;
  width: 50%;
}

.product__link-image {
  width: 50%;
  display: block;
  height: 144px;
}

.product__title {
  margin: 0;
  padding-bottom: 12px;
  max-width: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $second-font;
  color: $color-title;
  font-style: normal;
  text-transform: uppercase;
}

.product__parametr,
.product__value {
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  font-family: $base-font;
  color: $color-text;
  width: 50%;
}

.product__value {
  text-align: right;
}

.product__table {
  width: 100%;
  border-spacing: 0;
}

.product__button {
  width: 100%;
  color: $main-color;
  background-color: $decorate-color;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: $btn-green-hvr;
  }

  &:active,
  &:focus {
    background-color: $btn-green-hvr;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .product {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 0;
    padding-top: 142px;
    padding-left: 37px;
    padding-right: 36px;
    width: 324px;
    min-height: 431px;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    border: none;
  }

  .product__description {
    width: 100%;
  }

  .product__link-image {
    width: auto;
    height: auto;
  }

  .product__image {
    display: block;
    position: absolute;
    width: 324px;
    height: auto;

    &--small {
      top: -46px;
      left: 0;
    }

    &--big {
      top: -82px;
      left: 0;
    }
  }

  .product__title {
    padding: 0;
    margin: 0 auto 19px;
    max-width: 130px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product__parametr,
  .product__value {
    font-size: 16px;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .product___value {
    text-align: right;
  }

  .product__button {
    margin-top: 33px;
    width: 249px;
  }

  .product__table {
    width: 100%;
    border-collapse: collapse;
  }

  .product__description td {
    border-bottom: 1px solid $border-dark;
  }
}

@media (min-width: $desktop-width) {
  .product {
    margin-bottom: 53px;
    padding-left: 38px;
    padding-right: 38px;
    width: 245px;
  }

  .product__button {
    width: 169px;
  }
}
