.programs {
  display: flex;
  padding-bottom: 17px;
}

.programs__list {
  @include reset-list-style;
}

.programs__item {
  display: block;
  position: relative;
  background-color: $bg-color;
  padding: 30px 20px 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.programs__title {
  margin: 0;
  padding-left: 70px;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $second-font;
  color: $color-title;
  text-transform: uppercase;
}

.programs__icon {
  position: absolute;
  top: 24px;
  left: 22px;
  display: block;
  width: 50px;
  height: 51px;
  background-color: $decorate-color;
  border-radius: 50%;
}

.programs__icon-svg {
  position: absolute;

  &--slim {
    left: 8px;
    bottom: 3px;
  }

  &--mass-gain {
    left: -9px;
    bottom: 12px;
  }
}

.programs__description {
  margin-bottom: 18px;
  padding-bottom: 22px;
  border-bottom: 1px solid $border;
}

.programs__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-family: $second-font;
  text-transform: uppercase;
  color: $color-link;

  &:active,
  &:focus {
    color: $link-activ;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -36px;
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    padding-bottom: 45px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding: 76px 282px 58px 53px;

    &--mass-gain {
      padding: 76px 315px 58px 53px;
    }
  }

  .programs__title {
    padding-left: 0;
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 37px;
  }

  .programs__description {
    margin: 0;
    margin-bottom: 56px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
  }

  .programs__icon {
    top: 92px;
    right: 62px;
    width: 200px;
    height: 200px;
    background-color: $decorate-color;
    border-radius: 50%;
    margin-left: auto;
  }

  .programs__icon-svg {
    position: absolute;

    &--slim {
      width: 141px;
      height: 194px;
      left: 30px;
      top: -12px;
    }

    &--mass-gain {
      width: 268px;
      height: 113px;
      left: -34px;
      bottom: 44px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    padding-bottom: 73px;
  }

  .programs__list {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    width: 38.2%;
    margin: 0;
    padding: 76px 52px 59px 52px;
  }

  .programs__title {
    padding-left: 162px;
    margin-bottom: 74px;
  }

  .programs__description {
    margin: 0;
    padding-bottom: 31px;
  }

  .programs__icon {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
    margin: 0;
  }

  .programs__icon-svg {
    &--slim {
      width: 71px;
      height: 97px;
      left: 13px;
      top: -6px;
    }

    &--mass-gain {
      width: 134px;
      height: 57px;
      left: -18px;
      bottom: 21px;
    }
  }
}
