.programs {
  padding-bottom: 32px;
}

.programs__list {
  @include reset-list-style;
}

.programs__item {
  background-color: $bg-color;
  background-size: contain;
  padding-top: 39px;
  padding-bottom: 22px;
  padding-left: 21px;
  padding-right: 36px;
  margin-bottom: 20px;
}

.programs__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $second-font;
  text-transform: uppercase;
  color: $color-title;
  padding-bottom: 36px;
}

.programs__description {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  font-family: $second-font;
  text-transform: uppercase;
  color: $color-link;

  &:active,
  &:focus {
    color: $link-activ;
  }
}

@media (min-width: $tablet-width) {
  .programs__item {
    margin-bottom: 30px;
    padding: 80px 62px 62px 52px;
  }

  .programs__title {
    padding-bottom: 26px;
    font-size: 36px;
    line-height: 37px;
  }

  .programs__description {
    margin: 0;
    padding-bottom: 61px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .programs__item {
    width: 570px;
    margin: 0;
    padding: 41px 56px 62px 52px;
    box-sizing: border-box;
  }

  .programs__title {
    text-align: center;
  }

  .programs__description {
    margin: 0;
    padding-bottom: 36px;
  }
}
