.selection-program {
  display: flex;
  border-top: 1px solid $border-lighten;
  padding-top: 17px;
  margin-bottom: 18px;
}

.selection-program__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: $second-font;
  color: $color-title;
  font-style: normal;
}

.selection-program__form-text {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 20px;
  font-weight: 400;
  font-family: $second-font;
  color: $color-title;
  font-style: normal;
  text-transform: uppercase;
}

.selection-program__form__legend {
  padding-top: 7px;
  line-height: 16px;
  font-family: $base-font;
  color: $color-text;
}

.selection-program__form-button {
  width: 100%;
  color: $main-color;
  background-color: $decorate-color;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  &:hover {
    background-color: $btn-green-hvr;
  }

  &:active,
  &:focus {
    background-color: $btn-green-hvr;
    color: rgba(255, 255, 255, 0.3);
  }
}

.selection-program__wrapper-bottom {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .selection-program {
    padding-top: 56px;
    margin-bottom: 72px;
    border: none;
  }

  .selection-program__title {
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }

  .selection-program__form-text {
    padding: 0;
    margin-bottom: 52px;
    font-size: 20px;
    line-height: 30px;
    width: 332px;
  }

  .selection-program__wrapper-bottom {
    display: flex;
  }

  .selection-program__form-button {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    height: 52px;
  }

  .selection-program__form__legend {
    margin-left: 62px;
    margin-top: 8px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    padding-top: 73px;
    margin-bottom: 82px;
  }

  .selection-program__form-text {
    margin-bottom: 52px;
  }

  .selection-program__form-button {
    width: 568px;
  }

  .selection-program__form__legend {
    margin-left: 83px;
  }
}
