.social {
  padding-top: 22px;
  padding-bottom: 17px;
  width: 100%;
  border-bottom: 1px solid $border;
}

.social__list {
  @include reset-list-style;
  margin: 0 auto;
  width: 133px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.social__link {
  position: relative;
  fill: #666666;
  text-align: center;

  &--inst {
    top: 1px;
    left: -7px;
  }

  &--fb {
    left: -9px;
  }

  &--vk {
    top: -1px;
    left: -1px;
  }

  &:hover,
  :focus {
    fill: $decorate-color;
  }

  &:active {
    fill: $decorate-color;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: auto;
    border: none;
    padding: 0;
  }

  .social__list {
    margin-left: 22px;
  }

  .social__link {
    position: relative;

    &--inst svg {
      width: 23px;
      height: 23px;
    }

    &--fb svg {
      width: 14px;
      height: 28px;
    }

    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--inst {
      top: -1px;
      left: -2px;
    }

    &--fb {
      top: -1px;
      left: -6px;
    }

    &--vk {
      top: -1px;
      left: 3px;
    }
  }
}
