.social {
  padding-top: 22px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid $border;
}

.social__list {
  @include reset-list-style;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .social {
    width: auto;
    border: none;
  }
}
