body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $base-font;
  color: $color-text;
  font-style: normal;

  background-color: $main-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
