//colors
$main-color: #ffffff;

$color-text: #444444;
$color-title: #111111;
$color-lable: #222222;
$color-link: $color-title;

$link-hvr: rgba(17, 17, 17, 0.6);
$link-activ: rgba(17, 17, 17, 0.3);
$copyrigh-link-activ: rgba(68, 68, 68, 0.3);

$bg-color: #f2f2f2;
$bg-icon: #666666;
$decorate-color: #68b738;

$border: #d9d9d9;
$border-lighten: #ededed;
$border-light: #e6e6e6;
$border-dark: #cdcdcd;

$btn-green-hvr: #5eaa2f;
$btn-gray: #f2f2f2;
$btn-gray-hvr: #ebebeb;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$base-font: "Arial", sans-serif;
$second-font: "Oswald", "Arial", sans-serif;
